<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="row border rounded-5 p-3 bg-white shadow box-area">
    <div class="col-md-12 rounded-4 d-flex justify-content-center align-items-center flex-column left-box" style="background: #103cbe;">
      <p class="text-white fs-2 mb-0" style="font-family: 'Courier New', Courier, monospace; font-weight: 600;">Expense & Budget Tracker</p>
      <small class="text-white text-wrap text-center fs-6" style="width: 20rem;font-family: 'Courier New', Courier, monospace;">Plan, track, and save with Money Minder</small>
    </div>

    <div class="col-md-12 right-box">
      <div class="row align-items-center">
        <div class="header-text mb-4">
          <h2>Welcome, Register Now</h2>
        </div>
        <form class="user-register" [formGroup]="registerForm" (ngSubmit)="Register()">
          <div class="row">
            <div class="col-12 mb-3">
              <input type="text" class="form-control form-control-lg mb-2 fs-6" id="inputName" formControlName="name" placeholder="Full Name">
            </div>
            <div class="col-12 mb-3">
              <input type="email" class="form-control form-control-lg mb-2 fs-6" id="inputEmail" formControlName="email" placeholder="Email Address">
            </div>
            <div class="col-12 mb-3">
              <input type="password" class="form-control form-control-lg mb-2 fs-6" id="inputPassword" formControlName="password" placeholder="Password">
            </div>
          </div>
          <div class="row">
            <div class="col-12 mb-3">
              <button class="btn btn-lg btn-primary w-100 fs-6" [disabled]="!registerForm.valid" type="button" type="submit">Sign Up</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
