<app-navbar></app-navbar>

<div class="container d-flex justify-content-center align-items-center" style="min-height: 90vh;">
    <div class="row border rounded-5 p-3 bg-white shadow box-area">
        <section class="welcome-content">
            <div class="container">
                <h2> Welcome to Money Minder</h2>
                <p>Track your monthly expenses and budget here.</p>

                <h3>Manage Your Finances Effectively</h3>
                <p>Money Minder simplifies financial management, empowering users to oversee their expenses effortlessly. With its intuitive interface and robust functionalities, users can monitor spending, establish budgets, and work towards financial objectives seamlessly.</p>
            </div>
        </section>
    </div>
</div>